body {
    background-image: url(./image/z4784936048264_b63b620b11d0492ec94c54dfb7fdc599.jpg);
    background-size: cover;
    
}

.navigation {
    background-color: rgb(233, 26, 26);
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
    height: 90px;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    
}

.gioithieu {
    background-color: rgb(233, 26, 26);
    padding: 5px;
    border: hidden;
    width: 200px;
    font-size: 15px;
    color: white;
 }

 .gioithieu:hover {
    background-color: rgb(171, 9, 9);
    border: hidden;
 }

 .trangchu {
    background-color: rgb(233, 26, 26);
    padding: 5px;
    border: hidden;
    width: 200px;
    font-size: 15px;
    color: white;
 }

 .trangchu:hover {
    background-color: rgb(171, 9, 9);
    border: hidden;
 }

 .loginout {
    background-color: rgb(233, 26, 26);
    padding: 5px;
    border: hidden;
    width: 400px;
    font-size: 15px;
    color: white;
}



.loginout:hover {
    background-color: rgb(171, 9, 9);
    border: hidden;
}

.search {
    text-align: center;
   
}

.searchButton {
    height: 35px;
    width: 50px;
    margin-top: 100px;
    
}

.searchTerm {
    height: 30px;
    width: 500px;
    margin-top: 100px;
    padding-left: 20px;
}

.icon {
    font-size: 20px;
    padding-right: 20px;
    color: white;
    
}

.content-container{
    width: 70%;
    margin: auto;
    padding-top: 50px;
}
.slides {
    width: 100%;
    

}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 32px 15px 50px 15px;
}

.footer .footer-items {
    width: 360px;
    text-align: left;
    padding: 14px 0px;
}

.footer .footer-items .content-ul {
    display: flex;
    padding: 16px 0px;
}
  .footer .footer-items .content-ul:hover {
    background-color: #cccccc;
  }

.footer .footer-items .content-ul .sub-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 37px;
}

.footer .footer-items .content-ul span {
    height: 10px;
}

.footer-items p {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.5;
}

.footer-items .tag .key {
    background-color: black;
}

.footer-items .tag span {
    text-align: center;
    background-color: #616161;
    color: #ffff;
    padding: 4px 10px 0px 10px;
    margin: 4px 4px;
}

.lienket{
  text-decoration: none;
  
}
.giohang {
    background-color: rgb(233, 26, 26);
    padding: 5px;
    border: hidden;
    width: 200px;
    font-size: 15px;
    color: white;
}

.giohang:hover {
    background-color: rgb(171, 9, 9);
    border: hidden;
}